<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.LiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MybackpActivity"></activity>
        <activity android:name=".ui.OffsupportActivity" />
        <activity android:name=".ui.ConnectRecordActivity" />
        <activity android:name=".ui.LiveDetailActivity" />
        <activity android:name=".live.PrepareActivity" />
        <activity android:name=".live.LiveActivity" />
        <activity android:name=".ui.MailListActivity" />
        <activity android:name=".ui.IncomeDetailActivity" />
        <activity android:name=".ui.WithdrawalActivity" />
        <activity
            android:name=".ui.ShowGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.OranizeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.LookPersonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.IdentyActivity" />
        <activity android:name=".ui.BindWchatActivity" />
        <activity android:name=".ui.ExchangeActivity" />
        <activity android:name=".ui.AdviceActivity" />
        <activity android:name=".ui.NormalActivity" />
        <activity android:name=".ui.OrderListActivity" />
        <activity android:name=".ui.FollowActivity" />
        <activity android:name=".ui.EdtmsgActivity" />
        <activity android:name=".ui.SetActivity" />
        <activity android:name=".ui.SetInActivity" />
        <activity android:name=".ui.FindActivity" />
        <activity android:name=".ui.MsgInputActivity" />
        <activity android:name=".ui.BindPhoneActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
    </application>

</manifest>